<! DOCTYPE >
html
  head
    title
      |SocketIO
    link(rel="stylesheet", href="/stylesheets/socketio.css")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(src="/javascripts/JSON-js/cycle.js")
    script(src="/javascripts/JSON-js/json2.js")
    script(src="/javascripts/JSON-js/json.js")
    script(src="/javascripts/JSON-js/json_parse.js")
    script(src="/javascripts/JSON-js/json_parse_state.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/socketio.js")

  body
    div(class="board")
        div(class="input")
            input(id="console", class= "box")
        div(class="logs", id="logs")